*{

}

body, html {
    background-color: #FFFFFF !important;
}

.theme--light.v-application {
    background-color: #EDEEF0 !important;
}

.theme--light.v-footer {
    background-color: #FFFFFF !important;
    height: 100px;
}

.container {
    padding: 0px !important;
    max-width: 100% !important;
}

@media (min-width: 1200px){

}

@media (max-width: 600px) {

}
