*{

}

@font-face {
    font-family: 'Myriad Pro';
    src: url('/fonts/MyriadPro-Cond.eot');
    src: local('Myriad Pro Condensed'), local('MyriadPro-Cond'),
    url('/fonts/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MyriadPro-Cond.eot.woff') format('woff'),
    url('/fonts/MyriadPro-Cond.eot.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

body, html {
    background-color: #FFFFFF !important;
    height: 100%;
    width: 100%;
}

.v-main{
    height: 130vh;
    overflow: auto !important;
}

.v-application {
    max-height: 100vh;
    overflow: hidden;
}
.theme--light.v-application {
    background-color: #eeeeee !important;
}

.theme--light.v-footer {
    background-color: #FFFFFF !important;
    height: 10vh;
    min-height: 60px;
    padding: 0px;
    width: 100%;
}

.container {
    display: flex;
    padding: 0px !important;
    max-width: 100% !important;
    height: 100%;
    max-height: 100vh;
}

.v-tabs-bar{
    height: 30px !important;
}

.v-slide-group__content{
    height: 30px !important;
}

.v-tabs-slider-wrapper{
    color: #8cc540 !important;
}

.v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: none !important;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > td:not(.v-data-table__mobile-row), .theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > th:not(.v-data-table__mobile-row) {
    padding: 4px !important;
    padding-right: 4px !important;
    padding-left: 4px !important;
    text-align: left !important;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > tbody > tr > th, .v-data-table > .v-data-table__wrapper > table > thead > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > th, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
    padding: 0 7px !important;
}

@media (min-width: 1200px){

}

@media (max-width: 600px) {

}
